body {
  background: #0e0e0e;
  color: white;
  font-family: system-ui;
  display: flex;
  justify-content: center;
  align-items: center;
  height: 100vh;
}

.card {
  background: #1b1b1b;
  padding: 24px;
  border-radius: 16px;
  width: 100%;
  max-width: 360px;
  text-align: center;
}

.progress {
  display: flex;
  justify-content: center;
  gap: 6px;
  margin: 12px 0;
}

.progress span {
  font-size: 28px;
  opacity: 0.2;
  display: inline-block;
}


.progress .active {
  opacity: 1;
}
